* {
    box-sizing: border-box;
}

body {
    background: #222;
    color: #FFF;
    font-size: 20px;
    font-family: sans-serif;
}

body a {
    color: #f5a80e;
}

button {
    font-size: 20px;
}

select {
    font-size: 20px;
}

#greeting {
    font-size: 2.5rem;
    text-align: center;
    margin: 2.5rem auto 3rem auto;
}

#greeting i:nth-child(1) {
    color: red;
}

#greeting i:nth-child(2) {
    color: orange;
}

#greeting i:nth-child(3) {
    color: yellow;
}

#greeting i:nth-child(4) {
    color: green;
}

#greeting i:nth-child(5) {
    color: blue;
}

#greeting i:nth-child(6) {
    color: indigo;
}

#greeting i:nth-child(7) {
    color: violet;
}

#mainPage {
    display: grid;
    grid-template-areas:
        "content picker"
        "controls picker";
    grid-template-columns: 262px 1fr;
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: start;
    gap: 1rem 2rem;
    padding: 2rem;
    margin: 2rem auto 2rem auto;
    max-width: 800px;
    border-radius: 1rem;
    background-color: #333;
}

#content {
    border: 3px solid #FFF;
    height: 256px;
    width: 256px;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    min-width: 256px;
    min-height: 256px;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#controls div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#controls label {
    font-weight: bold;
}

#hue {
    display: block;
    background: linear-gradient(90deg, hsl(0, 72%, 56%) 0%, hsl(60, 72%, 56%) 25%, hsl(120, 72%, 56%) 33.3%, hsl(240, 72%, 56%) 66.6%, hsl(360, 72%, 56%) 100%);
    height: 1rem;
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    height: 2rem;
    width: 1rem;
    cursor: grab;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 2px solid transparent;
    border: none;
    border-radius: 0.25rem;
    background-color: hsl(var(--selected-hue), 72%, 56%);
}

dl {
    display: flex;
    margin: 0;
    gap: 0;
    justify-content: space-between;
    align-items: baseline;
}

dt {
    font-weight: bold;
}

dd {
    text-align: right;
    font-size: 16px;
    margin: 0;
}

button {
    background-color: #ffb82a;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    color: #000;
}

#symbol {
    font-weight: bold;
}

#picker {
    grid-area: picker;
}

#searchContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 3px solid #ffb82a;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

#searchContainer input {
    font-size: 20px;
    padding: 0.5rem;
    border: none;
    background-color: #333;
    color: #FFF;
    width: 100%;
    outline: none;
}

#searchContainer button {
    border-radius: 0;
}

#searchResults {
    display: grid;
    grid-gap: 1rem 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    align-items: center;
    justify-content: center;
    text-align: center;
}

#searchResults i {
    font-size: 30pt;
}